.admin {
	height: 100vh;
	width: 100vw;
}

h1 {text-align: center;
	background-color: rgb(158, 214, 170);
	border-radius: 22px;
}

div {border-radius: 22px;
}

button {
	border-radius: 18px;
}

div > div {
	background-color: rgb(158, 214, 170);
	width: 43vw;
	margin: auto ;
	margin-top: 1px;
}