<h1>Page d'édition des plantes</h1>
<div class="container">
  <div class="left-container"> 
    <app-tableau></app-tableau> </div>
  <div class="right-container">
    
    <router-outlet></router-outlet>
  </div>
<div class="container row h-100 admin">
	<h1>Page d'édition des plantes</h1>
	<div class="left-container col-6 border">
		<button class="btn btn-success" routerLink="new">Ajout</button>
	</div>
	<div class="right-container col-6 border">
		<router-outlet></router-outlet>
	</div>
</div>
